{%extends "main.html"%}
{%load static%}

{%block content%}


<div id="store" class="col-md-12">


    <!-- store top filter -->

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12"> <br> <br>


                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                          <div class="col col-xl-10">
                            <div class="card" style="border-radius: 1rem;">
                                <div class="upper-box">

                                    <h4>Password reset</h4>
                                    <p class="alert-success p-3"><strong>An email have been sent with instructions to reset your password,
                                       Also Check your spam folder if you didn't find it on your inbox</strong></p>
                                    <div class="text">Go back to <a href="{% url 'home' %}">home</a></div>
                                  </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="section-title">
           
                    </div>
                </div>
                <!-- /section title -->

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /store products -->

    <!-- store bottom filter -->


    <!-- /store bottom filter -->
</div>



    
{% endblock content %}