



{%extends "main.html"%}
{%load static%}

{%block content%}


<div id="store" class="col-md-12">


    <!-- store top filter -->

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12"> <br> <br>


                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                          <div class="col col-xl-10">
                            <div class="card" style="border-radius: 1rem;">
                          
                                    <div class="container">
                                        <div class="pb-3 row justify-content-center">
                            
                                            <div class="col-12 col-md-6 col-lg-6 col-sm-10 col-xl-6">
                            
                            
                            
                            
                                                <div class="bg-white shadow card login-page roundedd border-1 ">
                                                    <div class="card-body">
                                                        <h4 class="text-center card-title">Password complete</h4>
                            
                            
                            
                            
                            
                            
                                      <div class="upper-box">
                                        <span class="icon fa fa-check"></span>
                                        <h4>Password reset complete</h4>
                                                            <p class="alert-success p-3"><strong>Your password as been set successfully</strong></p>
                                        <div class="text">you can now <a href="{% url 'signin' %}">login</a></div>
                                      </div>
                            
                                    </div>
                            
                            
                            
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end container-->
                                </section>
                            
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="section-title">
           
                    </div>
                </div>
                <!-- /section title -->

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /store products -->

    <!-- store bottom filter -->


    <!-- /store bottom filter -->
</div>



    
{% endblock content %}