{%extends 'dashboard/dashboard.html'%}


{%block content%}


<br> <br>
<div class="my-properties">

    {%if messages%}
    {% for message in messages%}
    <div class="alert alert-{{message.tags}}"> <p class="message">{{message}}</p></div>
    {% endfor%}
    {%endif%}

    <!-- <section class="user-page section-padding pt-5"> -->
        <!-- <div class="container-fluid"> -->
            <!-- <div class="row"> -->
               
                    <div class="single-add-property">
                      <center>
                        <h2 style = "color:green">Make Payment</h2>

                      </center>  
                        <div class="property-form-group">



                        
                              
                            <form action="" method="post" enctype="multipart/form-data" id="paymentForm">
                                {%csrf_token%}

                            <div class="form">

                                <div class="row">
                                    <div class="col-md-12">

                                        <input type="hidden" id="email-address" class="form-control" value = "{{user.email}}" />

            
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <!-- <label for="description">Product Description</label> -->
                                            {% comment %} <textarea id="description" name="description" class="form-control" placeholder="Description of Payment" required></textarea> {% endcomment %}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <h4>Store Payment is N2,000</h4>


                                            <input type="hidden" id="last-name" value = "{{user.username}}"/>    
                                            
                                            <input type="hidden" id="amount" value = "2000" />

                                            <input type="hidden" id="first-name" value = "{{user.username}}"/>

                                    </div>
                                </div>

                                
                           
                        
                       
                      
                                <!-- <div>
                                    <input type="submit" class="btn btn-success"></button>
                    
                                </div> -->

                            </div>
                            <button type="submit" onclick="payWithPaystack()" class="btn btn-success"> Pay Now</button>
                     <br> <br>





                        </form>
                        
                   


                                        </div>
                                    </div>
                                </div>

    
                </div>
            </form>

            </div>


            
         



        </div>

</div>

<script>

    const paymentForm = document.getElementById('paymentForm');
    paymentForm.addEventListener("submit", payWithPaystack, false);
    
    function payWithPaystack(e) {
      e.preventDefault();
    
      let handler = PaystackPop.setup({
        key: 'pk_live_05fdb160f71068b350b47a86b9145d0584a83847', // Replace with your public key
        email: document.getElementById("email-address").value,
        amount: document.getElementById("amount").value * 100,
        ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
        // label: "Optional string that replaces customer email"
        onClose: function(){
          alert('Window closed.');
        },
        callback: function(response){
          let message = 'Payment complete! Reference: ' + response.reference;
          alert(message);
        }
      });
    
      handler.openIframe();
    }
    

</script>



<script src="https://js.paystack.co/v1/inline.js"></script>


<script>

    function copyText(){
      let no = document.getElementById("acc_no");
      no.select();
      document.execCommand("copy");
      alert("Text copied to clipboard!")
    }



  </script>

{%endblock content%}
